<div class="landing-container">
  <section class="hero">
    <h1>{{ 'LANDING.TITLE' | translate }}</h1>
    <p>{{ 'LANDING.SUBTITLE' | translate }}</p>
    <div class="cta-buttons">
      <!-- Показуємо, якщо НЕ залогінений -->
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="btn primary">
        {{ 'LANDING.BTN_START' | translate }}
      </a>
      
      <!-- Показуємо, якщо залогінений -->
      <a *ngIf="authService.isLoggedIn()" routerLink="/dashboard" class="btn primary">
        {{ 'LANDING.BTN_DASHBOARD' | translate }}
      </a>
    </div>
  </section>

  <section class="features">
    <div class="feature-card">
      <h3>{{ 'LANDING.CARD1_TITLE' | translate }}</h3>
      <p>{{ 'LANDING.CARD1_DESC' | translate }}</p>
    </div>
    <div class="feature-card">
      <h3>{{ 'LANDING.CARD2_TITLE' | translate }}</h3>
      <p>{{ 'LANDING.CARD2_DESC' | translate }}</p>
    </div>
    <div class="feature-card">
      <h3>{{ 'LANDING.CARD3_TITLE' | translate }}</h3>
      <p>{{ 'LANDING.CARD3_DESC' | translate }}</p>
    </div>
  </section>
</div>