<!-- Додано *ngIf -->
<nav class="navbar" *ngIf="!isAuthPage">
  <div class="logo">
    🏃‍♂️ <span>WorkoutTracker</span>
  </div>
  
  <div class="nav-links">
    <a routerLink="/dashboard">{{ 'NAV.DASHBOARD' | translate }}</a>
    <a routerLink="/history">{{ 'NAV.HISTORY' | translate }}</a>
    
    <a *ngIf="currentUsername" [routerLink]="['/u', currentUsername]">{{ 'NAV.MY_PROFILE' | translate }}</a>
    
    <div class="lang-switcher">
      <button (click)="switchLanguage('ua')">UA</button>
      <button (click)="switchLanguage('en')">EN</button>
    </div>

    <button class="logout-btn" (click)="logout()">{{ 'NAV.LOGOUT' | translate }}</button>
  </div>
</nav>

<router-outlet></router-outlet>